@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Typography */

html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
}

h1,
.h1 {
  @apply text-3xl;
}

@screen md {
  h1,
  .h1 {
    @apply text-4xl;
  }
}

@screen lg {
  h1,
  .h1 {
    @apply text-5xl;
  }
}

.font-permanent-marker {
  font-family: "Permanent Marker", cursive;
}

/* Aspect Ratio */

[style*="--aspect-ratio"] {
  position: relative;
}

[style*="--aspect-ratio"] > img {
  height: auto;
}

[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

[style*="--aspect-ratio"] > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
